{{! Chuẩn bị đổi }}
<div class="mt-4">
  <div class="row">
    {{! Luu ý: phần /coffees phải trùng với tên bên file index bên routes }}
    {{#each menu}}
      <div class="col-sm-6 col-lg-4">
        <div class="card card-course-item">
          <a href="/coffees/{{this.slug}}">
            <img
              class="card-img-top"
              src="{{this.image}}"
              alt="Card image cap"
            />
          </a>
          <div class="card-body">
            <a class="slug" href="/coffees/{{this.slug}}">
              <h5 class="card-title">{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.description}}</p>
            <a href="/coffees/{{this.slug}}" class="btn btn-primary">Mua ngay</a>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>