<main>
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">       
        {{!-- Form singUp  có method put code tay--}}
        <form method="POST" action="/login/resetPass?_method=PUT" autocomplete="off" class="sign-in-form">
         <a  style="text-decoration: none;"href="/">
            <div  class="logo">
             <img
              src="https://cdn-icons-png.flaticon.com/512/2173/2173478.png"
              alt="easyclass"
            />
            <h4>Coffee Cat</h4>
          </div>
         
         </a> 
          <div class="heading">
            <h2>Reset Password</h2>
            <h6>did you remember the password?</h6>
            <a href="/login/" class="toggle">Go back</a>
          </div>

            <div class="input-wrap">
              <input
                type="email"
                class="input-field"
                autocomplete="off"
                required
                 value="{{email}}"
                name="email"
                id="email"
              />
              <label>{{#if email_not_found}} <span class="err">{{email_not_found}}</span> {{else}} Email {{/if}}</label>
            </div>

            <div class="input-wrap">
              <input
                type="password"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
                 value="{{password}}" 
                name="password"
                id="password"
              />
              <label>Password</label>
            </div>
            <div class="input-wrap">
              <input
                type="password"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
               value="{{confirm_password}}" 
                name="confirm_password"
              />
              <label>{{#if pass_err }} <span class="err">{{pass_err}}</span> {{else}} Confirm Password {{/if}}</label>
            </div>
            </>
            <input type="submit" value="Reset pass" class="sign-btn" />
          </div>
        </form>
      </div>
      <div class="carousel">
        <div class="images-wrapper">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5e4edb85a021ea5abc99b59b/32cdf342-504d-4e28-9f1c-e2a63c88871e/CoffeeCats_Main_4Color.png"
            class="image img-1 show"
            alt=""
          />
        </div>
        <div class="text-slider">
          <div class="text-wrap">
            <div class="text-group">
              <h2></h2>
              <h2></h2>
              <h2></h2>
            </div>
          </div>
          <div class="bullets">
            <span class="active" data-value="1"></span>
            <span data-value="2" ></span>
            <span data-value="3"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>