<div class="mt-4">
  <section style="	background-color: rgb(255 247 237); border-radius: 14px;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        {{#each carts}}
          <div class="col-10">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h3
                class="fw-normal mb-0 text-black"
                style="font-family: 'Pacifico';"
              >{{this.name}}</h3>
            </div>
            <div class="card rounded-3 mb-4">
              <div class="card-body p-4">
                <div
                  class="row d-flex justify-content-between align-items-center"
                >
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <img
                      src="{{this.image}}"
                      class="img-fluid rounded-3"
                      alt="{{this.name}}"
                    />
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p
                      class="lead fw-normal mb-2"
                      style="color: #ea8025;"
                    >{{this.name}}</p>
                    <p><span class="text-muted">Size: </span>
                      {{this.size}}
                      <input
                        type="text"
                        name="size"
                        class="form-control"
                        style="display: none;"
                        value="{{this.size}}"
                      />
                    </p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button
                      class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    >
                      <i class="fas fa-minus"></i>
                    </button>

                    <input
                      id="form1"
                      min="0"
                      name="quality"
                      value="{{this.quality}}"
                      type="number"
                      class="form-control form-control-sm"
                    />

                    <button
                      class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h5 class="mb-0">{{this.price}}</h5>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <a
                      href="shoping/{{this._id}}"
                      onclick="return confirm('Are you sure ?')"
                      class="text-danger"
                    ><i class="fas fa-trash fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>
{{! confirm delete }}