<div class="p-4 p-md-5 mb-4 rounded bg-info">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic text-light">{{coffee.name}}</h1>
      <p class="lead my-3 text-light">{{coffee.description}}</p>
      <p class="lead mb-0"><a href="#" class="text-dark fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">{{coffee.name}} World</h3>
          <div class="mb-1 text-body-secondary">Nov 12</div>
          <p class="card-text mb-auto">{{coffee.description}}</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img  class="bd-placeholder-img" width="200" height="250"  src="{{coffee.image}}" ></img>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">{{coffee.name}} Design</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">{{coffee.description}}</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img  class="bd-placeholder-img" width="200" height="250"  src="{{coffee.image}}" ></img>

        </div>
      </div>
    </div>
     <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-secondary">Design</strong>
          <h3 class="mb-0">{{coffee.name}} Design</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">{{coffee.description}}</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img  class="bd-placeholder-img" width="200" height="250"  src="{{coffee.image}}" ></img>

        </div>
      </div>
    </div>
     <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-warning ">Design</strong>
          <h3 class="mb-0">{{coffee.name}} Design</h3>
          <div class="mb-1 text-body-secondary">Nov 11</div>
          <p class="mb-auto">{{coffee.description}}</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img  class="bd-placeholder-img" width="200" height="250"  src="{{coffee.image}}" ></img>

        </div>
      </div>
    </div>
  </div>

 

     

     
        

      

    


     

    

</main>