<div class="mt-4">
  <form method="POST" action="/coffees/store">
    <div class="row">
      <div class="col-lg-5">
        <img
          style="  border-radius: 50px 20px;"
          class="card-img-top"
          src="{{coffee.image}}"
          alt="{{coffee.name}}"
        />
        <input
          type="text"
          name="image"
          class="form-control"
          style="display: none;"
          value="{{coffee.image}}"
        />
      </div>
      <div class="col-lg-7">
        <div class="buy-coffee">
          <div class="card-name" name="name">
            <h2>{{coffee.name}}</h2>
            <input
              type="text"
              name="name"
              class="form-control"
              style="display: none;"
              value="{{coffee.name}}"
            />
          </div>
          <div class="card-text" style="font-size: 30px">
            <span>{{coffee.price}}</span>
            <input
              type="text"
              name="price"
              class="form-control"
              style="display: none;"
              value="{{coffee.price}}"
            />
          </div>
          <hr style="border: none; border-top: 3px dotted black" />
          <div class="option-size" style="width:500px">
            <div class="font-size">
              <p>Chọn size (bắt buộc)</p>
            </div>

            <div class="product-option">
              <select
                class="form-select"
                aria-label="Default select example"
                name="size"
              >
                <option selected>Thêm một loại tùy chọn</option>
                <option value="Nhỏ">Nhỏ</option>
                <option value="Vừa">Vừa</option>
              </select>
            </div>

            <hr style="border: none; border-top: 3px dotted black" />
            <div class="form-outline">
              <label class="form-label">Số Lượng</label>
              <input
                type="number"
                name="quality"
                class="form-control"
                min="0"
                max="100"
              />
            </div>
            <hr style="border: none; border-top: 3px dotted black" />
          </div>
          <div class="product-to-container">
            <a href=" ">
              <button type="submit" class="btn btn-primary"><i
                  class="fa-solid fa-truck"
                ></i>Thêm vào giỏ hàng</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr style="border: none; border-top: 4px dotted black" />
    <div class="describe">
      <h4 class="Product_Description">Mô tả sản phẩm</h4>
      <p
        class="Description_text"
        style="font-size: 20px; font-family: monospace;"
      ><i>{{coffee.description}}</i></p>
    </div>
    <hr style="border: none; border-top: 4px dotted black" />

  </form>

</div>